@use './fonts' as *;
@use './variables' as *;

@mixin left-right-padding {
	padding-left: 24px;
	padding-right: 24px;
}

@mixin btn-selector {
	width: 100%;
	background-color: $white;
	padding: 12px;
	gap: 16px;
	margin-bottom: 12px;
	border: none;
	border-radius: 12px;
	font-size: 18px;
	font-weight: 400;
	font-family: $rubik;
	cursor: pointer;
}

@mixin img-border {
	border-radius: 6px;
	width: 40px;
	height: 40px;
	padding: 5px;
}

@mixin little-paragraph {
	font-family: $rubik-italic;
	color: $gray-navy;
	font-size: 14px;
	line-height: 150%;
	font-weight: 300;
}
