@use '../globals/fonts' as *;
@use '../globals/global' as *;
@use '../globals/mixins' as *;
@use '../globals/variables' as *;

.question {
	margin-top: 32px;
	position: relative;
	color: $dark-navy;

	&__error {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 12px;
		color: $red;
		font-size: 18px;
		font-weight: 400;

		img {
			width: 32px;
			height: 32px;
			margin-right: 8px;
		}
	}

	&__container {
		margin-bottom: 24px;

		&-progression {
			@include little-paragraph;
			margin-bottom: 12px;

			&.quiz-dark-theme {
				color: $light-blue;
			}
		}

		&-text {
			line-height: 120%;
			font-weight: 500;
			font-size: 20px;

			&.quiz-dark-theme {
				color: $white;
			}
		}
	}

	&__progress-bar {
		height: 16px;
		background-color: $white;
		padding: 4px;
		width: 100%;
		border-radius: 9999px;
		margin-bottom: 40px;
	}

	&__progress-line {
		background-color: $violet;
		width: 0;
		height: 8px;
		border-radius: 9999px;
		transition: width 0.3s ease-out;
	}

	&__options {
		&--container {
			@include btn-selector;
			position: relative;
			display: flex;
			flex-direction: row;
			align-items: center;

			&.quiz-dark-theme {
				@include btn-selector-dark;
				color: $white;
			}

			&:hover &-letter {
				color: $violet;
				background-color: #f6e7ff;
			}

			&:focus {
				outline: 3px solid $violet;
			}

			&:focus &-letter {
				color: $white;
				background-color: $violet;
			}

			&-letter {
				@include img-border;
				background-color: $light-gray;
				line-height: 30px;
				text-align: center;
				font-size: 18px;

				&.quiz-dark-theme {
					color: $gray-navy;
				}
			}

			.green-letter {
				background-color: $green;
				color: $white;
			}

			.red-letter {
				background-color: $red;
				color: $white;
			}

			&-text {
				width: 72%;
			}
		}

		.green-border {
			outline: 3px solid $green;
		}

		.correct-answer {
			position: absolute;
			right: 6px;
		}

		.wrong-answer {
			position: absolute;
			right: 6px;
		}

		.red-border {
			outline: 3px solid $red;
		}
	}

	&__btn-submit {
		@include submit-next-buttons;
	}

	&__btn-next {
		@include submit-next-buttons;
		display: none;
	}
}
