@font-face {
  font-family: "Rubik Italic";
  src: url("/public/fonts/Rubik-Italic-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Rubik";
  src: url("/public/fonts/Rubik-VariableFont_wght.ttf");
}
.quiz {
  margin-top: 32px;
}
.quiz__title {
  margin-bottom: 40px;
}
.quiz__title h1 {
  font-size: 40px;
  font-weight: 300;
  line-height: 120%;
}
.quiz__title h1 b {
  font-weight: 600;
}
.quiz__title p {
  font-family: "Rubik Italic";
  color: #626c7f;
  font-size: 14px;
  line-height: 150%;
  font-weight: 300;
  margin-top: 16px;
}
.quiz__subject-selector {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.quiz__subject-selector--btn {
  width: 100%;
  height: 64px;
  background-color: #ffffff;
  padding: 12px;
  gap: 16px;
  margin-bottom: 12px;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Rubik";
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
}
.quiz__subject-selector--img {
  border-radius: 6px;
  width: 40px;
  height: 40px;
  padding: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Rubik";
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f6fa;
}
body .main {
  padding-left: 24px;
  padding-right: 24px;
  width: 375px;
  height: 100vh;
  background-image: url("/src/assets/images/pattern-background-mobile-light.svg");
  background-repeat: no-repeat;
}
body .main .header {
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body .main .header__quiz-title {
  visibility: hidden;
  display: flex;
  align-items: center;
}
body .main .header__quiz-title--img-cont {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 4px;
}
body .main .header__quiz-title--img-cont img {
  width: 28.5px;
  text-align: center;
}
body .main .header__quiz-title--text {
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
  margin-left: 16px;
}
body .main .header__btn--cont {
  display: flex;
  align-items: center;
}
body .main .header__btn--cont button {
  width: 32px;
  height: 20px;
  background-color: #a729f5;
  border-radius: 9999px;
  border: none;
  margin: 0 8px;
  z-index: 0;
}
body .main .header__btn--cont button .btn__white-dot {
  margin: 0px 4px;
  background-color: #ffffff;
  width: 12px;
  height: 12px;
  border-radius: 9999px;
  z-index: 50;
}
body .main .header__btn--cont img {
  width: 16px;
}
.question {
  margin-top: 32px;
}
.question__container {
  margin-bottom: 24px;
}
.question__container-progression {
  font-family: "Rubik Italic";
  color: #626c7f;
  font-size: 14px;
  line-height: 150%;
  font-weight: 300;
  margin-bottom: 12px;
}
.question__container-text {
  line-height: 120%;
  font-weight: 500;
  font-size: 20px;
}
.question__progress-bar {
  height: 16px;
  width: 100%;
  background-color: #ffffff;
  padding: 4px;
  border-radius: 9999px;
  margin-bottom: 40px;
}
.question__progress-bar--line {
  background-color: #a729f5;
  width: 50%;
  height: 8px;
  border-radius: 9999px;
}
.question__options--container {
  width: 100%;
  height: 64px;
  background-color: #ffffff;
  padding: 12px;
  gap: 16px;
  margin-bottom: 12px;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Rubik";
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.question__options--container:hover .question__options--container-letter {
  color: #a729f5;
  background-color: #f6e7ff;
}
.question__options--container:focus {
  outline: 3px solid #a729f5;
}
.question__options--container:focus .question__options--container-letter {
  color: #ffffff;
  background-color: #a729f5;
}
.question__options--container-letter {
  border-radius: 6px;
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: #f4f6fa;
  line-height: 30px;
  text-align: center;
  font-size: 18px;
}
.question__btn-submit {
  width: 100%;
  height: 56px;
  text-align: center;
  background-color: #a729f5;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  font-family: "Rubik";
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}
.question__btn-submit:hover {
  opacity: 50%;
}
.question__btn-next {
  width: 100%;
  height: 56px;
  text-align: center;
  background-color: #a729f5;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  font-family: "Rubik";
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  display: none;
}
.question__btn-next:hover {
  opacity: 50%;
}

/*# sourceMappingURL=styles.css.map */
